.chartContainer {
  width: 100%;
  height: 500px;
  background: transparent;
}

.grid {
  stroke: #e0e0e0;
  opacity: 0.5;
}

.axis {
  font-size: 12px;
  fill: #666;
}

@media (min-width: 671px) and (max-width: 1300px) {
  .chartContainer {
    height: 400px;
  }
}

